<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gitlab.mudlej.MjPdfReader">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.gitlab.mudlej.MjPdfReader.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/mj_app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MJ_PDF_THEME"
        android:usesCleartextTraffic="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".ui.search.SearchActivity2"
            android:exported="false" />
        <activity
            android:name=".ui.link.LinksActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bookmark.BookmarksActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- <service -->
        <!-- android:name=".ExtractingPdfText" -->
        <!-- android:exported="false" -->
        <!-- android:description="Extracting text of PDF for Search" -->
        <!-- /> -->
        <activity
            android:name="com.folioreader.ui.activity.SearchActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">


            <!-- Intent filters or other activity attributes -->
        </activity>


        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*" />
                <data android:scheme="smb" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:mimeType="application/epub+zip"/>

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*" />
                <data android:scheme="smb" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="application/pdf"/>
                <data android:mimeType="application/epub+zip"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <!-- Workaround to match files in paths with dots in them, like /sdcard/my.folder/test.pdf -->
                <data android:pathPattern=".*\\.pdf" />
                <data android:pathPattern=".*\\..*\\.pdf" />
                <data android:pathPattern=".*\\..*\\..*\\.pdf"/>
                <data android:mimeType="application/epub+zip"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/epub+zip"/>
            </intent-filter>
        </activity> <!-- Alias to allow the user to hide the app from launcher on Android < 10 -->
        <activity-alias
            android:name=".LauncherAlias"
            android:enabled="true"
            android:exported="true"
            android:targetActivity=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.about.AboutActivity"
            android:exported="true"
            android:label="@string/action_about"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.main.MainIntroActivity"
            android:exported="true"
            android:label="@string/intro"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="true"
            android:label="@string/settings"
            android:theme="@style/Setting_Theme" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id"/>
    </application>

</manifest>